extends layout

block content
  .page-header
    h3 Forms

  table
    tr
      th S. no
      th Agent Name/ Email
      th Form
    each form, index in forms
      tr
        td= index+1
        td= form.agentId.name || form.agentId.email
        td
          a(href="./form/"+form._id)| Click here
