extends layout

block content
  h4 New Pan Card Application
  hr
  .row
    form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        table
          tr
            td Category of Applicant
            td
              select(name="coa")
                option(value="1") Individual
            td Date
            td 
              input(type="date")
          tr
            td
            td Last Name/Surname
            td First Name
            td Middle Name
          tr
            td Applicant's Name
            td
              input(type="text" name="applicantFirstName")
            td
              input(type="text" name="applicantLastName")
            td
              input(type="text" name="applicantMiddleName")
          tr
            td Name on Card
            td(colspan="3")
              input(type="text" name="nameOnCard")
          tr
            td
            td Father's Last Name
            td First Name
            td Middle Name
          tr
            td Father's Name
            td
              input(type="text" name="fatherFirstName")
            td
              input(type="text" name="fatherLastName")
            td
              input(type="text" name="fatherMiddleName")

      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send